<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="NetroLogger5_Azure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <NetroLogger5_Azure.Properties.Settings>
            <setting name="LogsPath1" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="LogsPattern1" serializeAs="String">
                <value>* </value>
            </setting>
            <setting name="LogsType1" serializeAs="String">
                <value>WZM</value>
            </setting>
            <setting name="BlobRoot" serializeAs="String">
                <value>http://netro.blob.core.windows.net</value>
            </setting>
            <setting name="NetroAzureKey" serializeAs="String">
                <value>DefaultEndpointsProtocol=https;AccountName=netrologs;AccountKey=Bi0MLDHWSs/xF8d2I8eoniVAF12XQDYKOVBOe5plu3wtq8D14tZswtDAtqpdy2VP2BAS1DB/Dt47mmS0SlYS/w==</value>
            </setting>
            <setting name="AzureLogsRoot" serializeAs="String">
                <value>Logs</value>
            </setting>
            <setting name="Logs2Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogsPath2" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="LogsPattern2" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="LogsType2" serializeAs="String">
                <value>IIS</value>
            </setting>
            <setting name="ProcessCurrentFile1" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="ProcessCurrentFile" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="NetroAzureServer" serializeAs="String">
                <value>trshcqg14q.database.windows.net</value>
            </setting>
            <setting name="NetroAzureDBUser" serializeAs="String">
                <value>NetroStats</value>
            </setting>
            <setting name="NetroAzureDBPwd" serializeAs="String">
                <value>nstaHHT8@hdxp348gt32ho9@t3t9on3@$$$heotthdxTTDIeo385</value>
            </setting>
            <setting name="NetroAzureDBName" serializeAs="String">
                <value>NetroLog</value>
            </setting>
            <setting name="PublicIPThisServer" serializeAs="String">
                <value>1.2.3.4</value>
            </setting>
        </NetroLogger5_Azure.Properties.Settings>
    </applicationSettings>
</configuration>
